body{-webkit-text-size-adjust:none; margin: 0;padding: 0 10px;background-color: darkred;font-family:"Microsoft Yahei","宋体","Tahoma",Arial;font-size:14px;}
#container{width:300px;margin:0;color:#f0f0f0;background-color:darkred; margin: 60px auto 10px auto;}
